body{
    background: black;
    font-family: Arial;
}
.main{
    margin: auto;
    width: 80%;
    background: #bdbdbd    
}
.tittle-container{
    background: white;
    width: 100%;
    }
h1{
    padding: 15px;
    text-align: center;
}
.post{
    margin: auto;
    width: 50%;
    background: white;    
}
img{
    width: 100%;
}
h2{
    float: left;
    padding-left: 10px;
}
span{
    float:right;
    padding-top: 25px;
    padding-right: 10px;
    color:  grey;
    font-family: Arial;
}
p{
    padding: 15px;
    text-align: justify;
}